*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 100vh;
  background: #000 url("music.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
  padding: 3vmin;


  .navbar {
    display: flex;
    align-items: center;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2vmin;

      a {
        text-decoration: none;
        padding-left: 15px;
        font-size: 20px;
        color: #aba9a9;
      }
    }
  }

  .main {
    margin: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30vmin;

    .leftmain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3vmin;
      
    }

    .left-col {
      justify-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vmin;
      color: rgb(221, 128, 66);
      text-shadow: 2px 2px 3px bisque;
      font-size: 3.5rem;
    }

    .right-col {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 12vmin;
      width: 65vmin;
      box-shadow: 0 0 2px 3px grey;
      font-size: 2.5rem;
      color: rgb(221, 128, 66);
      background-color: rgba(255, 255, 255, 0.6);
      padding: 1vmin;
      flex-wrap: wrap;
      
      #icon {
        height: 8vmin;
        color: rgb(221, 128, 66);
        
      }
    }
  }
}


.songsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  color: rgb(221, 128, 66);
  text-shadow: 1px 1px 1px bisque;
  font-size: 2rem;
  padding: 2vmin;
  border: 1px solid rgba(221, 128, 66, 0.2);
  background-color: rgba(255, 255, 255, 0.6);

  .songsdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    color: rgb(221, 128, 66);
    text-shadow: 1px 1px 1px bisque;
    font-size: 2rem;
    padding: 2vmin;
    border: 1px solid rgba(221, 128, 66, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    overflow-y: scroll;
    height: 60vmin;
  }

  a {
    display: block;
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid rgb(221, 128, 66);
    width: 100%;
    text-align: center;
  }

}


